SHOPIFY_SHOP_DOMAIN=rqxbft-fw.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=shpat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SHOPIFY_APP_PROXY_SECRET=your_shopify_app_client_secret
SHOPIFY_ADMIN_API_VERSION=2026-07
PORT=3000

# Local testing only. Do not enable in production.
DISABLE_PROXY_SIGNATURE_CHECK=false
